<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="head">
        <h1>Cold的窝提供</h1>
    </div>
    <div class="body">
        <div class="content">
            <div class="list">
                <div class="items">
                    <img src="https://g.fp.ps.netease.com/market/file/5aa0c29746072b4b5cb1b17bEoyBkggK" alt="网络异常">
                    <div class="mosundu">磨损度：12154645456544</div>
                </div>
                <div class="text">
                    <h4 style="text-align: center">阿西莫夫</h4>
                    <span class="money"><b>buff:</b></span><span style="float:right;padding-right: 10px;">29</span><br>
                    <span class="money"><b>steam:</b></span><span
                        style="float:right;padding-right: 10px;">199</span><br>
                    <span class="money"><b>5e:</b></span><span style="float:right;padding-right: 10px;">199</span>
                </div>
            </div>
            <div class="list">
                <div class="items">
                    <img src="https://g.fp.ps.netease.com/market/file/5aa0c29746072b4b5cb1b17bEoyBkggK" alt="网络异常">
                    <div class="mosundu">磨损度：12154645456544</div>
                </div>
                <div class="text">
                    <h4 style="text-align: center">阿西莫夫</h4>
                    <span class="money"><b>buff:</b></span><span style="float:right;padding-right: 10px;">29</span><br>
                    <span class="money"><b>steam:</b></span><span
                        style="float:right;padding-right: 10px;">199</span><br>
                    <span class="money"><b>5e:</b></span><span style="float:right;padding-right: 10px;">199</span>
                </div>
            </div>
            <div class="list">
                <div class="items">
                    <img src="https://g.fp.ps.netease.com/market/file/5aa0c29746072b4b5cb1b17bEoyBkggK" alt="网络异常">
                    <div class="mosundu">磨损度：12154645456544</div>
                </div>
                <div class="text">
                    <h4 style="text-align: center">阿西莫夫</h4>
                    <span class="money"><b>buff:</b></span><span style="float:right;padding-right: 10px;">29</span><br>
                    <span class="money"><b>steam:</b></span><span
                        style="float:right;padding-right: 10px;">199</span><br>
                    <span class="money"><b>5e:</b></span><span style="float:right;padding-right: 10px;">199</span>
                </div>
            </div>
            <div class="list">
                <div class="items">
                    <img src="https://g.fp.ps.netease.com/market/file/5aa0c29746072b4b5cb1b17bEoyBkggK" alt="网络异常">
                    <div class="mosundu">磨损度：12154645456544</div>
                </div>
                <div class="text">
                    <h4 style="text-align: center">阿西莫夫</h4>
                    <span class="money"><b>buff:</b></span><span style="float:right;padding-right: 10px;">29</span><br>
                    <span class="money"><b>steam:</b></span><span
                        style="float:right;padding-right: 10px;">199</span><br>
                    <span class="money"><b>5e:</b></span><span style="float:right;padding-right: 10px;">199</span>
                </div>
            </div>
            <div class="list">
                <div class="items">
                    <img src="https://g.fp.ps.netease.com/market/file/5aa0c29746072b4b5cb1b17bEoyBkggK" alt="网络异常">
                    <div class="mosundu">磨损度：12154645456544</div>
                </div>
                <div class="text">
                    <h4 style="text-align: center">阿西莫夫</h4>
                    <span class="money"><b>buff:</b></span><span style="float:right;padding-right: 10px;">29</span><br>
                    <span class="money"><b>steam:</b></span><span
                        style="float:right;padding-right: 10px;">199</span><br>
                    <span class="money"><b>5e:</b></span><span style="float:right;padding-right: 10px;">199</span>
                </div>
            </div>
            <div class="list">
                <div class="items">
                    <img src="https://g.fp.ps.netease.com/market/file/5aa0c29746072b4b5cb1b17bEoyBkggK" alt="网络异常">
                    <div class="mosundu">磨损度：12154645456544</div>
                </div>
                <div class="text">
                    <h4 style="text-align: center">阿西莫夫</h4>
                    <span class="money"><b>buff:</b></span><span style="float:right;padding-right: 10px;">29</span><br>
                    <span class="money"><b>steam:</b></span><span
                        style="float:right;padding-right: 10px;">199</span><br>
                    <span class="money"><b>5e:</b></span><span style="float:right;padding-right: 10px;">199</span>
                </div>
            </div>
            <div class="list">
                <div class="items">
                    <img src="https://g.fp.ps.netease.com/market/file/5aa0c29746072b4b5cb1b17bEoyBkggK" alt="网络异常">
                    <div class="mosundu">磨损度：12154645456544</div>
                </div>
                <div class="text">
                    <h4 style="text-align: center">阿西莫夫</h4>
                    <span class="money"><b>buff:</b></span><span style="float:right;padding-right: 10px;">29</span><br>
                    <span class="money"><b>steam:</b></span><span
                        style="float:right;padding-right: 10px;">199</span><br>
                    <span class="money"><b>5e:</b></span><span style="float:right;padding-right: 10px;">199</span>
                </div>
            </div>
            <div class="list">
                <div class="items">
                    <img src="https://g.fp.ps.netease.com/market/file/5aa0c29746072b4b5cb1b17bEoyBkggK" alt="网络异常">
                    <div class="mosundu">磨损度：12154645456544</div>
                </div>
                <div class="text">
                    <h4 style="text-align: center">阿西莫夫</h4>
                    <span class="money"><b>buff:</b></span><span style="float:right;padding-right: 10px;">29</span><br>
                    <span class="money"><b>steam:</b></span><span
                        style="float:right;padding-right: 10px;">199</span><br>
                    <span class="money"><b>5e:</b></span><span style="float:right;padding-right: 10px;">199</span>
                </div>
            </div>
            <div class="list">
                <div class="items">
                    <img src="https://g.fp.ps.netease.com/market/file/5aa0c29746072b4b5cb1b17bEoyBkggK" alt="网络异常">
                    <div class="mosundu">磨损度：12154645456544</div>
                </div>
                <div class="text">
                    <h4 style="text-align: center">阿西莫夫</h4>
                    <span class="money"><b>buff:</b></span><span style="float:right;padding-right: 10px;">29</span><br>
                    <span class="money"><b>steam:</b></span><span
                        style="float:right;padding-right: 10px;">199</span><br>
                    <span class="money"><b>5e:</b></span><span style="float:right;padding-right: 10px;">199</span>
                </div>
            </div>
            <div class="list">
                <div class="items">
                    <img src="https://g.fp.ps.netease.com/market/file/5aa0c29746072b4b5cb1b17bEoyBkggK" alt="网络异常">
                    <div class="mosundu">磨损度：12154645456544</div>
                </div>
                <div class="text">
                    <h4 style="text-align: center">阿西莫夫</h4>
                    <span class="money"><b>buff:</b></span><span style="float:right;padding-right: 10px;">29</span><br>
                    <span class="money"><b>steam:</b></span><span
                        style="float:right;padding-right: 10px;">199</span><br>
                    <span class="money"><b>5e:</b></span><span style="float:right;padding-right: 10px;">199</span>
                </div>
            </div>
            <div class="list">
                <div class="items">
                    <img src="https://g.fp.ps.netease.com/market/file/5aa0c29746072b4b5cb1b17bEoyBkggK" alt="网络异常">
                    <div class="mosundu">磨损度：12154645456544</div>
                </div>
                <div class="text">
                    <h4 style="text-align: center">阿西莫夫</h4>
                    <span class="money"><b>buff:</b></span><span style="float:right;padding-right: 10px;">29</span><br>
                    <span class="money"><b>steam:</b></span><span
                        style="float:right;padding-right: 10px;">199</span><br>
                    <span class="money"><b>5e:</b></span><span style="float:right;padding-right: 10px;">199</span>
                </div>
            </div>
            <div class="list">
                <div class="items">
                    <img src="https://g.fp.ps.netease.com/market/file/5aa0c29746072b4b5cb1b17bEoyBkggK" alt="网络异常">
                    <div class="mosundu">磨损度：12154645456544</div>
                </div>
                <div class="text">
                    <h4 style="text-align: center">阿西莫夫</h4>
                    <span class="money"><b>buff:</b></span><span style="float:right;padding-right: 10px;">29</span><br>
                    <span class="money"><b>steam:</b></span><span
                        style="float:right;padding-right: 10px;">199</span><br>
                    <span class="money"><b>5e:</b></span><span style="float:right;padding-right: 10px;">199</span>
                </div>
            </div>

            <div class="home"><a href="http://iloveworld.love"><img
                        src="http://iloveworld.love/upload/2023/05/logo_bing.jpg" alt=""></a></div>
        </div>
    </div>

</body>

</html>